section#basket {
  margin-top: 8%;
}

.basket__inside{
  display: flex;
  justify-content: center;
}

.basket__inside-left{
  width: 65%;
}

.basket__inside-right{
  position: relative;
  margin-left: 5%;
  width: 25%;
}