.basket__cart {
  display: flex;
  padding: 30px 0;
  border-top: 1px solid rgba(255, 255, 255, .5);

  &-info {
    flex: 1;
  }

  &-icon {
    width: 100%;
    max-width: 126px;
    margin-right: 40px;

    img {
      max-width: 100%;
    }
  }

  &-head {
    display: flex;
    justify-content: space-between;
  }

  &-name {
    font-size: 16px;
    color: #fff;
    margin-bottom: 16px;
  }
  &-remove {
    cursor: pointer;
    color: #fff;
    font-size: 16px;
  }
  &-price {
    display: flex;
    font-size: 24px;
    color: #fff;
    align-items: center;
    border-bottom: 1px solid rgba(255, 255, 255, .5);
    padding-bottom: 30px;
    span {
      margin-right: 24px;
    }
  }

  &-discount {
    font-size: 16px;
    line-height: 1;
    text-align: center;
    color: #000;
    background: #fbbb43;
    border-radius: 10px;
    padding: 6px 8px 3px;
  }
}
