@import url("https://fonts.googleapis.com/css2?family=Russo+One&display=swap");

body, html {
  font-family: "Russo One", sans-serif;
  margin: 0;
  padding: 0;
  // background: url('../public/bg.webp') no-repeat center center fixed;
  background: #141111;
  height: 100%;
}

body::-webkit-scrollbar {
    width: 2px;
}
 
body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
}
 
body::-webkit-scrollbar-thumb {
  background-color: #fbbb43;
  outline: 1px solid rgba(112, 128, 144, 0);
}
a {
  text-decoration: none;
}
div {
  box-sizing: border-box;
}

input {
  outline: none;
}

section {
  background: linear-gradient(180deg, rgba(32, 86, 162, 1) 0%, rgb(0, 0, 0) 100%);
  background-repeat: no-repeat;
}

.yellowText {
  color: #fbbb43;
}
.whiteText {
  color: #fff;
}
.row {
  display: flex;
  align-items: center;
}

.container {
  position: relative;
  margin: 0 auto;
  max-width: 90%;
  z-index: 100;
}

.main__slider {
  position: absolute;
}

.slick-dots {
  height: fit-content;
  width: 50px;
  z-index: 100;
}

.slick-slide {
  border: none;
}

.slick-dots li button {
  height: 93px;

  &:before {
    content: "";
    padding: 0px;
    width: 2px;
    height: 50px;
    background: #fff;
  }
}

.slick-prev:before,
.slick-next:before {
  display: none;
}

.content__slider {
  position: absolute;
  z-index: 100;

  .slick-arrow {
    //position: relative;
    top: 0;
    left: -8px;
    //transform: rotate(270deg);
    z-index: 201;
  }

  .slick-next {
    top: 122%;
    transform: rotate(270deg);
    left: -7px;
  }

  .slick-prev {
    top: -20%;
    left: 18px;
    transform: rotate(90deg);
  }
}
