.catalog {
  display: flex;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-top: 50px;
}

.catalog-container{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
