.contentTitle {
  position: relative;
  font-size: 24px;
  letter-spacing: 5px;
  margin-bottom: 30px;
  box-shadow: 0px 4px 8px 0px rgba(34, 60, 80, 0.2);
  width: 150px;
  padding: 5px;
  color: rgba(0, 0, 0, 0.712);
  z-index: 1;
}
