.product__cart {
  position: relative;
  width: 250px;
  height: 311px;
  border-radius: 10px;
  border: 1px solid #666;
  overflow: hidden;
  color: #fff;

  img {
    transition: all 0.5s;
    width: 100%;
  }

  &:hover {
    border: 1px solid #fbbb43;

    img {
      opacity: 0.4;
    }

    .product__cart-name {
      opacity: 1;
      bottom: 5%;
    }

    .btn {
      opacity: 1;
      top: 0px;
    }

    .product__cart-price {
      opacity: 1;
      top: 30px;
    }
  }

  &-price {
    transition: all 0.5s;
    position: relative;
    top: 50px;
    opacity: 0;
  }
  &-name {
    transition: all 0.5s;
    position: absolute;
    bottom: 2%;
    opacity: 0;
    width: 100%;
    text-align: center;
  }

  &-center {
    position: absolute;
    top: 45%;
    width: 100%;
    text-align: center;
    padding: 0 20px;
    .btn {
      position: relative;
      opacity: 0;
      top: 30px;
    }
  }
}
