.header-btn {
  cursor: pointer;
  padding: 11px 12px 11px;
  font-size: 16px;
  border-radius: 50px;
  transition: all 0.5s;
  color: #fff;
  &:hover{
    background-color: #fff;
    color: #000;
  }
  &-border{
    border: 2px solid rgba(255, 255, 255, .5);
  }
  &-icon{
    margin-left: 30px;
    font-size: 22px;
    color: #fff;
  }
}

