.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: #141111;
  background: linear-gradient(0deg, #141111 10%, rgba(253,187,45,0) 100%);
  z-index: 99;
}
